<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <main role="main" class="container">
      <div class="starter-template">
      <form id="frm" method="post">
        <table class ="table table-bordered">
          <thead>
            <caption>글 읽기</caption>
           </thead>
          <tbody>
            <tr>
              <th>제목</th>
              <td>
              		<input type="text" id="title" name="title" 
							th:value="${tableDto.title}"/>
              </td>
            </tr>
            <tbody>
            <tr>
              <th>작성자</th>
              <td th:text="${tableDto.writer}"></td>
            </tr>
            <tr>
              <th>작성일</th>
              <td th:inline="text" th:text=${tableDto.date}></td>
            </tr>
            <tr>
              <th>본문 내용</th>
              <td>
              <textarea title="내용" id="contents" name="contents" 
						th:text="${tableDto.content}"></textarea>
				</td>
            </tr>
          </tbody>
        </table>
        <input type="hidden" name="index" th:value="${tableDto.index}">
        </form>
		 <input type="button" id="edit" value="수정하기">
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
         <script type="text/javascript">
         $(document).ready(function(){
        	 console.log($("#edit"));
             $("#edit").on("click", function(){
                 var frm = $("#frm")[0];
                 console.log(frm);
                 frm.action = "updateTable";
                 frm.submit();
             });
         })
         </script>
        <!-- 수정/삭제 -->
        <div>
            <!-- 삭제 -->
            <form th:action="@{'/deleteTable/' + ${tableDto.index}}" method="post">
         	<input type="hidden" name="_method" value="delete"/>
         	<button id="delete-btn">삭제</button>
         </form>
         </div>
      </div>
    </main>

</body>
</html>