<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <main role="main" class="container">
      <div class="starter-template">
      
        <table class ="table table-bordered">
          <thead>
            <caption>글 읽기</caption>
            </thead>
          <tbody>
            <tr>
              <th>제목</th>
              <td th:text="${tableDto.title}"></td>
            </tr>
            <tbody>
            <tr>
              <th>작성자</th>
              <td th:text="${tableDto.writer}"></td>
            </tr>
            <tr>
              <th>작성일</th>
              <td th:inline="text" th:text=${tableDto.date}></td>
            </tr>
            <tr>
              <th>본문 내용</th>
              <td th:text="${tableDto.content}"></td>
            </tr>
          </tbody>
        </table>
        	<a id="tableUpdate" th:href="@{'/tableUpdate/' +${tableDto.index}}">
        		<button>수정</button></a>
            <!-- 삭제 -->
            <form th:action="@{'/deleteTable/' + ${tableDto.index}}" method="post">
         	<input type="hidden" name="_method" value="delete"/>
         	<button id="delete-btn">삭제</button>
         </form>
         </div>
    </main>

</body>
</html>