<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>게시글 수정</h1>
<div class="col-md-12">
    <div class="col-md-4">
        <form role="form" th:object="${tableDto}" th:action="@{updateTable}" method="post">
            <div class="form-group">
                <label for="index">글 번호</label>
                <input type="number" name="index" class="form-control" id="index" th:value="${tableDto.index}" readonly>
            </div>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" name="title" id="title" th:value="${tableDto.title}">
            </div>
            <div class="form-group">
                <label for="author">작성자</label>
                <input type="text" class="form-control" name="writer" id="writer" th:value="${tableDto.writer}" readonly>
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <textarea class="form-control" name="content" id="content">[[${tableDto.content}]]</textarea>
            </div>
        <a role="button" class="btn btn-secondary">취소</a>
       <input type="submit" role="button" th:value="수정">
        </form>
    </div>
</div>
</body>
</html>